[submodule "fmt"]
	path = 3p/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "cereal"]
	path = 3p/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "Celero"]
	path = 3p/Celero
	url = https://github.com/DigitalInBlue/Celero.git
[submodule "3p/Catch"]
	path = 3p/Catch
	url = https://github.com/philsquared/Catch.git
	branch = master
[submodule "3p/benchmark"]
	path = 3p/benchmark
	url = https://github.com/google/benchmark.git
	branch = master
