[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "cereal"]
	path = cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "Celero"]
	path = Celero
	url = https://github.com/DigitalInBlue/Celero.git
